@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  font-family: "Inter", "Arial", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#app {
  width: 100vw;
  height: 100vh;
}

.card {
  @apply flex flex-col rounded-md border-[1px] p-2 shadow;
}
.button {
  @apply rounded-sm bg-amber-400 px-2 hover:bg-amber-500;
}
input {
  @apply rounded-md border-2 border-black/20;
}
label {
  @apply mt-2 border-t-2;
}
.dialog-details {
  @apply flex flex-col gap-2;
}
.dialog-details > div {
  @apply flex items-center justify-between border-b-2;
}
.dialog-details > div > div:first-of-type {
  @apply font-bold;
}
h1 {
  @apply mb-2 text-2xl font-bold;
}
h2 {
  @apply text-lg font-semibold;
}
