@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  font-family: "Inter", "Arial", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#app {
  width: 100vw;
  height: 100vh;
}

.card {
  @apply flex flex-col rounded-md p-2 shadow;
}
.button {
  @apply rounded-sm bg-amber-400 hover:bg-amber-500;
}
input {
  @apply rounded-md border-2 border-black/20;
}
label {
  @apply mt-2 border-t-2;
}
